1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "AlphaSonic"
      VALUE "FileDescription", "Pioneers3D - A hexagonal board game in 3D, OpenGL and DirectX, platform independant Windows + Linux + Mac"
      VALUE "FileVersion", "0.1a"
      VALUE "InternalName", "Pioneers3D"
      VALUE "LegalCopyright", "(c) 2014 - 2018 AlphaSonic Ltd. <benjaminhampe@gmx.de>"
      VALUE "OriginalFilename", "Pioneers3D.exe"
      VALUE "ProductName", "Pioneers3D c AlphaSonic <benjaminhampe@gmx.de>"
      VALUE "ProductVersion", "0.1a"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

IDI_ICON1               ICON    DISCARDABLE     "pioneers3d.ico"
